* {
    max-width: 1120px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Bold.woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-DemiBold.woff');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Light.woff');
    font-weight: 100;
    font-style: light;
}

body {
    display: grid;
    position: relative;
}


@media(max-width: 320px) {

/* .vertical_bar {
    position: absolute;
    margin-top: 28px;
    margin-left: 84px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.vertical_bar2 {
    position: absolute;
    margin-top: 28px;
    margin-left: 626px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.burger {
    position: absolute;
    margin-top: 24px;
    margin-left: 24px;
    width: 40px;
    height: 40px;
}

.logo {
    position: absolute;
    margin-top: 18px;
    margin-left: 106px;
    width: 96px;
    height: 50px;
}

.repair {
    position: absolute;
    margin-top: 24px;
    margin-left: 648px;
    width: 40px;
    height: 40px;
}

.checkstatus {
    position: absolute;
    margin-top: 24px;
    margin-left: 704px;
    width: 40px;
    height: 40px;
}

.mobile {
    position: absolute;
    margin-top: 24px;
    margin-left: 454px;
    width: 40px;
    height: 40px;
}

.chat {
    position: absolute;
    margin-top: 24px;
    margin-left: 510px;
    width: 40px;
    height: 40px;
}

.profile {
    position: absolute;
    margin-top: 24px;
    margin-left: 566px;
    width: 40px;
    height: 40px;
}

nav {
    background-color: #f8f8f8;
}

.service_and_status {
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
    margin-top: 88px;
    margin-left: 16px;
    background-color: #f8f8f8;
}

.navigation__repair--brands {
    margin-left: 16px;
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.navigation__repair--device {
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.navigation__price-on-service {
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.navigation__address {
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px; 
}

.navigation__special-price {
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.navigation__reviews {
    padding: 8px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;  
}

main {
    margin-top: 24px;
    background-color: #f8f8f8;
    font-family: 'TTlakes';
    font-size: 14px;
    font-weight: 400;
}

.first_block {
    margin-left: 16px;
}

.second_block {
    margin-left: 16px;
}  */

}

@media(min-width: 321px) and (max-width: 768px){

    body {
        background-color: #f8f8f8;
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: white;
}

    .vertical_bar {
        position: flex;
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .vertical_bar2 {
        position: flex;
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .burger {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 24px;
        width: 40px;
        height: 40px;
    }

    .logo {
        position: flex;
        margin-top: 18.59px;
        margin-bottom: 18.59px;
        margin-left: 20.73px;
        width: 96px;
        height: 50px;
    }  

    .repair {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    .checkstatus {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .mobile {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 250.73px;
        width: 40px;
        height: 40px;
    }

    .chat {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .profile {
        position: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .blue-line {
        height: 2px;
        margin-top: 88px;
        color: blue;
        background-color: blue;
    }

    section {
        position: relative;
        height: 56px;
    }

    .h1_blue--bar {
        position: absolute;
        margin-top: 24px;
    }

    .service_and_status {
        font-family: 'TTlakes';
        font-size: 28px;
        font-weight: 700;
        margin-top: 24px;
        margin-left: 24px;
    }

    nav {
        position: relative;
    }

    .navigation__repair--brands:focus, 
    .navigation__repair--device:focus, 
    .navigation__price-on-service:focus, 
    .navigation__address:focus, 
    .navigation__special-price:focus, 
    .navigation__reviews:focus {
    padding: 6px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    outline: none;
    background-color: white;
}

    .navigation__repair--brands {
        margin-top: 32px;
        margin-left: 16px;
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
    }

    .navigation__repair--device {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        
    }

    .navigation__price-on-service {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
    }

    .navigation__address {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px; 
    }

    .navigation__special-price {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
    }

    .navigation__reviews {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;  
    }

    .page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;
        margin-left: 24px;
        font-family: 'TTlakes';
        font-size: 14px;
        font-weight: 400;
    }

    .text-content {
        height: 160px;
        width: 312px;
    }

    .first_block {

    }

    .second_block {
        margin-top: 10px;
    }

    .read_more {
        position: relative;
        margin-top: 10px;
    }

    .read_more--arrow {
        position: absolute;
    }

    .read_more--text {
        position: absolute;
        margin-left: 25px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
    }

    .CPS_photo {
        width: 360px;
        height: 208px;
}

}
