* {
    max-width: 1120px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Bold.woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-DemiBold.woff');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TTlakes;
    src: url('fonts/TTLakes-Light.woff');
    font-weight: 100;
    font-style: light;
}

body {
    display: grid;
    position: relative;
}


@media(min-width: 320px) and (max-width: 767px){

    body {
        background-color: #f8f8f8;
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .vertical_bar {
        display: none;
    }

    .vertical_bar2 {
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 16.73px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .burger {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .logo {
        margin-top: 18.59px;
        margin-bottom: 18.59px;
        margin-left: 16.73px;
        width: 96px;
        height: 50px;
    }  

    .repair {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    .checkstatus {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
        width: 40px;
        height: 40px;
    }

    .mobile {
        display: none;
    }

    .chat {
        display: none;
    }

    .profile {
        display: none;
    }

    .blue-line {
        height: 2px;
        margin-top: 88px;
        color: blue;
        background-color: blue;
    }

    section {
        position: relative;
        height: 56px;
    }

    .h1_blue--bar {
        position: absolute;
        margin-top: 24px;
    }

    .service_and_status {
        font-family: 'TTlakes';
        font-size: 28px;
        font-weight: 700;
        margin-top: 24px;
        margin-left: 12px;
    }

    nav {
        position: relative;
        margin-top: 32px;
    }

    .buttons {
        width: 100%;
        overflow-x: auto;      
        overflow-y: hidden;  
        white-space: nowrap; 
        scrollbar-width: none;
    }

    .buttons_nav-scroll {
        display: flex;
        gap: 12px;
    }

    .navigation__repair--brands:focus, 
    .navigation__repair--device:focus, 
    .navigation__price-on-service:focus, 
    .navigation__address:focus, 
    .navigation__special-price:focus, 
    .navigation__reviews:focus {
        padding: 6px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        outline: none;
        background-color: white;
    }

    .navigation__repair--brands {
        margin-left: 16px;
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__repair--device {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
        
    }

    .navigation__price-on-service {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__address {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px; 
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__special-price {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__reviews {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;  
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .page{
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        font-family: 'TTlakes';
        font-size: 14px;
        font-weight: 400;
    }

    .text-content {
        width: 100%;
    }

    .second_block {
        display: none;
    }

    .read_more {
        margin-top: 16px;
    }

    .read_more--text {
        position: absolute;
        margin-left: 8px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
    }

    .CPS_photo {
        width: 100%;
        margin-top: 16px;
    }
}





@media(min-width: 768px) and (max-width: 1119px){

    body {
        background-color: #f8f8f8;
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .vertical_bar {
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .vertical_bar2 {
        margin-top: 28px;
        margin-bottom: 28px;
        margin-left: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }

    .burger {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 24px;
        width: 40px;
        height: 40px;
    }

    .logo {
        margin-top: 18.59px;
        margin-bottom: 18.59px;
        margin-left: 20.73px;
        width: 96px;
        height: 50px;
    }  

    .repair {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }

    .checkstatus {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .mobile {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 250.73px;
        width: 40px;
        height: 40px;
    }

    .chat {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .profile {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        width: 40px;
        height: 40px;
    }

    .blue-line {
        height: 2px;
        margin-top: 88px;
        color: blue;
        background-color: blue;
    }

    section {
        position: relative;
        height: 56px;
    }

    .h1_blue--bar {
        position: absolute;
        margin-top: 24px;
    }

    .service_and_status {
        font-family: 'TTlakes';
        font-size: 28px;
        font-weight: 700;
        margin-top: 24px;
        margin-left: 24px;
    }

    nav {
        display: flex;
        position: relative;
        margin-top: 32px;
    }

    .buttons {
    width: 100%;
    overflow-x: auto;      
    overflow-y: hidden;  
    white-space: nowrap; 
    scrollbar-width: none;
    }

    .buttons_nav-scroll {
    display: flex;
    gap: 12px;
    }

    .navigation__repair--brands:focus, 
    .navigation__repair--device:focus, 
    .navigation__price-on-service:focus, 
    .navigation__address:focus, 
    .navigation__special-price:focus, 
    .navigation__reviews:focus {
    padding: 6px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    outline: none;
    background-color: white;
    }

    .navigation__repair--brands {
        margin-left: 16px;
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__repair--device {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
        
    }

    .navigation__price-on-service {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__address {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px; 
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__special-price {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .navigation__reviews {
        padding: 8px;
        background-color: #f8f8f8;
        border: 2px none;
        border-radius: 6px;  
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 100;
    }

    .page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;
        margin-left: 24px;
        margin-right: 16px;
        gap: 48px;
        font-family: 'TTlakes';
        font-size: 14px;
        font-weight: 400;
    }

    .text-content {
        width: 100%;
    }

    .second_block {
        margin-top: 10px;
    }

    .read_more {
        position: relative;
        margin-top: 10px;
    }

    .read_more--text {
        position: absolute;
        margin-left: 8px;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
    }

    .CPS_photo {
        width: 100%;
    }

}
